In [1]:
import pandas as pd
import numpy as np

In [2]:
#load the data, and show columns
all_data = pd.read_csv("281_2023_scouting_all.csv")
all_data.dtypes
all_data.columns

Index(['Timestamp', 'Email Address', 'Team Number ',
       'Did they cross over the line?', 'How many cones scored [Top]',
       'How many cones scored [Middle]', 'How many cones scored [Bottom]',
       'How many cubes scored [Top]', 'How many cubes scored [Middle]',
       'How many cubes scored [Bottom]', 'Did they dock onto the station',
       'How many fouls committed by this team', 'How many cones scored [Top ]',
       'How many cones scored [Middle].1', 'How many cones scored [Bottom].1',
       'How many cubes scored [Top ]', 'How many cubes scored [Middle].1',
       'How many cubes scored [Bottom].1',
       'Where do their robot's capabilities allow them to score',
       'Did they dock at the end', 'How fast was this robot',
       'Mechanical Failures ',
       'How reliable was this robot (i.e. 4 completions/ 5 attempts)',
       'Special things about this bot',
       'Blocks significant blocks made (significant obstruction of progress)',
       'Where do they pickup'],
      dtype='object')

In [3]:
#rename columns to shorter better names
all_data['tstamp'] = pd.to_datetime(all_data.Timestamp)
all_data = all_data.rename(columns={
         'Team Number ': 'team_number',
        'Did they cross over the line?': 'auto_line', 
        'How many cones scored [Top]': 'auto_cones_top',
       'How many cones scored [Middle]': 'auto_cones_middle', 
        'How many cones scored [Bottom]': 'auto_cones_bottom',
       'How many cubes scored [Top]': 'auto_cubes_top', 
        'How many cubes scored [Middle]': 'auto_cubes_middle',
       'How many cubes scored [Bottom]': 'auto_cubes_bottom', 
        'Did they dock onto the station': 'auto_docked',
       'How many fouls committed by this team': 'fouls',
        'How many cones scored [Top ]': 'telop_cones_top',
       'How many cones scored [Middle].1': 'telop_cones_middle', 
        'How many cones scored [Bottom].1': 'telop_cones_bottom',
       'How many cubes scored [Top ]': 'telop_cubes_top', 
        'How many cubes scored [Middle].1':'telop_cubes_middle',
       'How many cubes scored [Bottom].1': 'telop_cubes_bottom',
       "Where do their robot's capabilities allow them to score": 'scoring_areas',
       'Did they dock at the end': 'end_dock', 
       'How fast was this robot':'robot_speed',
       'Mechanical Failures ': 'failures',
       'How reliable was this robot (i.e. 4 completions/ 5 attempts)': 'reliability',
       'Special things about this bot': 'special_notes',
       'Blocks significant blocks made (significant obstruction of progress)': 'blocks',
       'Where do they pickup': 'pickup_loc'    
})

all_data.columns

Index(['Timestamp', 'Email Address', 'team_number', 'auto_line',
       'auto_cones_top', 'auto_cones_middle', 'auto_cones_bottom',
       'auto_cubes_top', 'auto_cubes_middle', 'auto_cubes_bottom',
       'auto_docked', 'fouls', 'telop_cones_top', 'telop_cones_middle',
       'telop_cones_bottom', 'telop_cubes_top', 'telop_cubes_middle',
       'telop_cubes_bottom', 'scoring_areas', 'end_dock', 'robot_speed',
       'failures', 'reliability', 'special_notes', 'blocks', 'pickup_loc',
       'tstamp'],
      dtype='object')

In [4]:
#fill out any number columns with NaN to zero
#this way sums will work
base_data = all_data.fillna(0)

In [5]:
#add up cones and cubes
base_data['total_cones'] = base_data['auto_cones_middle'] +  \
    base_data['auto_cones_top'] + base_data['auto_cones_bottom'] +  \
    base_data['telop_cones_middle'] + base_data['telop_cones_top'] + base_data['telop_cones_bottom']

base_data['total_cubes'] = base_data['auto_cubes_middle'] + base_data['auto_cubes_top'] + \
      base_data['auto_cubes_bottom'] + base_data['telop_cones_middle'] +  \
      base_data['telop_cubes_top'] + base_data['telop_cubes_bottom']

In [6]:
#example of using a function to 
#def calc_auto_pts(row):
#    if row['auto_line'] =='yes':
#        return 3.0
#    else:
#        return 0.0
#base_data['auto_line_pts'] = base_data.apply(calc_auto_pts,axis=1)
base_data['auto_line_pts'] = np.where ( base_data['auto_line'] == 'yes', 3.0, 0.0 )

#this little function
#lets you map values to numbers
def choose_from_map(choice,choices,default):
    if choice in choices.keys():
        return choices.get(choice)
    else:
        return default

#compute points for docking during auto
def calc_auto_docking_pts(row):
    return choose_from_map(row['auto_docked'], {
        'Fully docked' : 12.0,
        'Partially (tilted)' : 8.0
    }, 0.0 )                           
base_data['auto_dock_pts'] = base_data.apply(calc_auto_docking_pts,axis=1)

def calc_fast_pts(row):
    #switch(Data!U2,"Fast",3,"Average",2,"Slow",1,0))
    return choose_from_map(row['robot_speed'], {
        'Fast' : 3.0,
        'Average' : 2.0,
        'Slow': 1.0
    }, 0.0 )
base_data['fast_pts'] =base_data.apply(calc_fast_pts,axis=1)

def calc_telop_dock_pts(row):
    #IF(Data!T2="Fully docked",10,IF(Data!T2="Partially (tilted)",6,0)))-5*Data!L2)
    return choose_from_map(row['robot_speed'], {
        'Fully docked' : 10.0,
        'Partially (tilted)' : 6.0
    }, 0.0 )
base_data['telop_dock_pts'] = base_data.apply(calc_telop_dock_pts,axis=1)

#SUM((Data!M2+Data!P2)*5+(Data!N2+Data!Q2)*3+(Data!O2+Data!R2)*2+IF(Data!T2="Fully docked",10,IF(Data!T2="Partially (tilted)",6,0)))-5*Data!L2)
base_data['grid_pts']=  base_data['telop_cones_top']*5.0 + \
        base_data['telop_cones_middle']*3.0 + \
        base_data['telop_cones_bottom']*2.0 + \
        base_data['telop_cubes_top']*5.0 + \
        base_data['telop_cubes_middle']*3.0 + \
        base_data['telop_cubes_bottom']*2.0 

base_data['telop_pts'] = base_data['grid_pts'] +base_data['telop_dock_pts']

def calc_charge_pts(row):
    #IF(Data!K2="Fully docked",12,IF(Data!K2="Partially (tilted)",8,0))+IF(Data!T2="Fully docked",10,IF(Data!T2="Partially (tilted)",6,0)))
    return choose_from_map(row['robot_speed'], {
        'Fully docked' : 10.0,
        'Partially (tilted)' : 6.0
    }, 0.0 )
base_data['charge_pts'] = base_data['auto_dock_pts'] + base_data['telop_dock_pts']

base_data['auto_pts'] =  base_data['auto_line_pts'] + \
    base_data['auto_dock_pts'] + \
    base_data['auto_cones_top']*6.0 +\
    base_data['auto_cones_middle']*4.0 +\
    base_data['auto_cones_bottom']*3.0
base_data['total_pts'] = base_data['telop_pts'] + base_data['auto_pts']

In [7]:
base_data

,Timestamp,Email Address,team_number,auto_line,auto_cones_top,auto_cones_middle,auto_cones_bottom,auto_cubes_top,auto_cubes_middle,auto_cubes_bottom,...,total_cubes,auto_line_pts,auto_dock_pts,fast_pts,telop_dock_pts,grid_pts,telop_pts,charge_pts,auto_pts,total_pts
0,3/11/2023 17:58,albertmathisz0@gmail.com,6961,no,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3/11/2023 17:58,eric.shi.sc@gmail.com,3490,no,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,2.0,0.0,17.0,17.0,0.0,0.0,17.0
2,3/11/2023 18:03,fortressben@gmail.com,6366,yes,0.0,0.0,0.0,1.0,0.0,0.0,...,2.0,3.0,0.0,2.0,0.0,4.0,4.0,0.0,3.0,7.0
3,3/11/2023 18:03,tremar0016@gmail.com,1051,yes,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,2.0,0.0,10.0,10.0,0.0,9.0,19.0
4,3/11/2023 18:04,tony.j.manavalan@gmail.com,2815,no,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,12.0,2.0,0.0,6.0,6.0,12.0,12.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535,10/21/2023 12:00:38,tony.j.manavalan@gmail.com,4935,yes,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,1.0,0.0,4.0,4.0,0.0,7.0,11.0
1536,10/21/2023 12:07:59,bltz.kriegler@gmail.com,2815,no,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,12.0,2.0,0.0,2.0,2.0,12.0,12.0,14.0
1537,10/21/2023 12:08:00,youngflakesir@gmail.com,4451,no,0.0,0.0,0.0,0.0,0.0,1.0,...,5.0,0.0,0.0,2.0,0.0,11.0,11.0,0.0,0.0,11.0
1538,10/21/2023 12:08:13,maximilian.geissler0@gmail.com,3489,no,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,8.0,8.0,0.0,3.0,11.0
1539,10/21/2023 14:01:30,mmakhtoub1@gmail.com,9998,no,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,2.0,2.0,0.0,0.0,2.0

In [8]:

#df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})
team_summary = base_data.groupby('team_number').agg({
    'grid_pts' : ['max','mean'], 
    'telop_pts' : ['max','mean'], 
    'auto_pts':['max','mean'], 
    'total_pts':['max','mean'],
    'reliability': ['mean'],
    'total_cones': ['max','mean'],
    'total_cubes': ['max','mean']
})

team_summary = base_data.groupby('team_number').agg(
    max_grid=('grid_pts','max'),
    avg_grid=('grid_pts','mean'),
    max_telop=('telop_pts','max'),
    avg_telop=('telop_pts','mean'),
    max_auto=('auto_pts','max'),
    avg_auto=('auto_pts','mean'),
    max_total_pts=('total_pts','max'),
    avg_total_pts=('total_pts','mean'),
    reliability=('reliability','mean'),
    max_cones=('total_cones','max'),
    avg_cones=('total_cones','mean'),
    max_cubes=('total_cubes','max'),
    avg_cubes=('total_cubes','mean')
)

team_summary=team_summary.sort_values(by='avg_total_pts',ascending=False).reset_index()
team_summary

,team_number,max_grid,avg_grid,max_telop,avg_telop,max_auto,avg_auto,max_total_pts,avg_total_pts,reliability,max_cones,avg_cones,max_cubes,avg_cubes
0,Test,20.0,20.000000,20.0,20.000000,54.0,54.000000,74.0,74.000000,5.000000,12.0,12.000000,12.0,12.000000
1,973,33.0,29.000000,33.0,29.000000,21.0,18.000000,53.0,47.000000,4.000000,7.0,5.250000,6.0,4.250000
2,6377,40.0,32.333333,40.0,32.333333,21.0,13.000000,61.0,45.333333,4.000000,7.0,6.000000,6.0,4.666667
3,1414,27.0,21.875000,27.0,21.875000,21.0,18.250000,48.0,40.125000,4.500000,7.0,5.125000,4.0,2.437500
4,51,25.0,23.000000,25.0,23.000000,18.0,17.000000,43.0,40.000000,4.666667,5.0,4.666667,3.0,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,9315,2.0,0.555556,2.0,0.555556,3.0,0.166667,3.0,0.722222,1.555556,1.0,0.111111,1.0,0.444444
161,9152,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.000000,0.0,0.000000
162,3653,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,3.000000,0.0,0.000000,1.0,1.000000
163,6905,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.000000,0.0,0.000000
164,9999,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000

In [9]:
team_summary

,team_number,max_grid,avg_grid,max_telop,avg_telop,max_auto,avg_auto,max_total_pts,avg_total_pts,reliability,max_cones,avg_cones,max_cubes,avg_cubes
0,Test,20.0,20.000000,20.0,20.000000,54.0,54.000000,74.0,74.000000,5.000000,12.0,12.000000,12.0,12.000000
1,973,33.0,29.000000,33.0,29.000000,21.0,18.000000,53.0,47.000000,4.000000,7.0,5.250000,6.0,4.250000
2,6377,40.0,32.333333,40.0,32.333333,21.0,13.000000,61.0,45.333333,4.000000,7.0,6.000000,6.0,4.666667
3,1414,27.0,21.875000,27.0,21.875000,21.0,18.250000,48.0,40.125000,4.500000,7.0,5.125000,4.0,2.437500
4,51,25.0,23.000000,25.0,23.000000,18.0,17.000000,43.0,40.000000,4.666667,5.0,4.666667,3.0,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,9315,2.0,0.555556,2.0,0.555556,3.0,0.166667,3.0,0.722222,1.555556,1.0,0.111111,1.0,0.444444
161,9152,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.000000,0.0,0.000000
162,3653,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,3.000000,0.0,0.000000,1.0,1.000000
163,6905,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.000000,0.0,0.000000
164,9999,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000

In [14]:
team_summary.

AttributeError: 'Series' object has no attribute 'value'